/* Simple test stylesheet for debugging */

QWidget{
    background-color: rgb(25,25,25);
    color: "{color_text_base}";
}
QWidget:disabled{
    color: rgb(100,100,100);
}

QPushButton{
    border-radius: "{size_border_radius_base}";
    background-color: rgb(50,50,50);
    padding: 6px;
}
QPushButton:hover{
    background-color: rgb(80,80,80);
}
QPushButton:disabled{
    background-color: rgb(30,30,30);
}
QLineEdit{
    border-radius: "{size_border_radius_base}";
    border: 1px solid transparent;
    background-color: rgb(50,50,50);
    padding: 4px;
}
QLineEdit:hover{
    border-color: rgb(80,80,80);
}
QLineEdit:disabled{
    background-color: rgb(30,30,30);
}

QStatusBar{
    color: "{color_error_red}";
    border-bottom: 1px solid rgb(60,60,60);
}
